.container1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
}

.Banner-Heading {
    display: flex;
    justify-content: space-evenly;
    margin-top: -39%;
    font-size: 70px;
    color: whitesmoke;
    font-weight: 400;
}