/* .container1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
}
 */
.Banner-Heading {
    font-size: 70px;
    color: whitesmoke;
    font-weight: 400;
} 
.BannerImg {
    background-image: url('../../asset/banner.jpg');
    min-height: 100vh;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}